#calculadora {
  width: 25rem;
}

#calculadora .card-header {
  background-color: black;
}

#calculadora .card-body {
  background-color: #c42847;
}

#calculadora #display {
  text-align: right;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 30pt;
  color: white;
}

#calculadora button {
  margin: 5px;
  height: 2.8em;
  width: 2.8em;
}

#calculadora .button-text {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16pt;
}
